<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="refresh" content="https://www.google.com/">
<title>移転のお知らせ</title>
<style type="text/css"><!--
body {background-color:#ffffcc;
}
.msg {color:#000000;
      background-color:#ffcc66;
      text-align:center;
}
--></style>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" align="center">
<tr>
<td width="15" height="15"><img src="image/iframe_a.gif" alt="" width="15" height="15"></td>
<td class="msg"><img src="image/dummy.gif" alt=""></td>
<td width="15"><img src="image/iframe_b.gif" alt="" width="15" height="15"></td>
</tr>
<tr>
<td height="150" class="msg"><img src="image/dummy.gif" alt=""></td>
<td width="350" class="msg">

このページは下記のURLへ移転いたしました。<br>
<br>
5秒待っても自動的にジャンプしない場合は、<br>
以下のURLをクリックしてください。<br>
<br>
<a href="https://www.google.com/">https://www.google.com/</a>

</td>
<td class="msg"><img src="image/dummy.gif" alt=""></td>
</tr>
<tr>
<td height="15"><img src="image/iframe_c.gif" alt="" width="15" height="15"></td>
<td class="msg"><img src="image/dummy.gif" alt=""></td>
<td><img src="image/iframe_d.gif" alt="" width="15" height="15"></td>
</tr>
</table>
</body>
</html>
